---
import { themeConfig } from '../config';

interface Props {
  title: string;
  subtitles?: string;
}
const { title, subtitles } = Astro.props;
---

<section id="hero" class="hero section">
  <img src="/assets/img/background.jpg" alt="background image" />

  <div class="container" data-aos="zoom-out">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h2>{title}</h2>
        {subtitles && (
          <p>
            <span class="typed" data-typed-items={subtitles}></span>
          </p>
        )}
        
        <div class="social-links">
          {themeConfig.social_links.map((link) => (
             <a href={link.url} target="_blank" rel="noopener noreferrer" aria-label={link.name}>
               <i class={link.icon_class}></i>
             </a>
          ))}
        </div>
      </div>
    </div>
  </div>
</section>
